<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%# <%= link_to "Show this user", "/users/#{user.id}" %>
      <%# <%= link_to "Show this user", user_path(user.id) %>
      <%# <%= link_to "Show this user", jabberwocky_path(user) %>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
